RewriteEngine On
RewriteBase /

RewriteRule ^config/ - [F]
RewriteRule ^sql/ - [F]
RewriteRule \.sql$ - [F]
RewriteRule ^uploads/.*\.php$ - [F]
RewriteRule (^|/)\.(?!well-known) - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]