body.admin-dashboard-wrap {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.admin-dashboard-wrap h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.admin-dashboard-wrap .admin-header {
    text-align: center;
    margin-bottom: 2rem;
}

.admin-dashboard-wrap .admin-header a {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.admin-dashboard-wrap .admin-header a:hover {
    background-color: #0056b3;
}

.admin-dashboard-wrap table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-dashboard-wrap th,
.admin-dashboard-wrap td {
    padding: 10px;
    border: 1px solid #cccccc;
}

.admin-dashboard-wrap th {
    background-color: #f2f2f2;
    text-transform: uppercase;
}

.admin-dashboard-wrap td button {
    background-color: #007bff;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.admin-dashboard-wrap .btn-danger {
    background-color: #dc3545;
}

.admin-dashboard-wrap .btn-danger:hover {
    background-color: #c82333;
}

/* Responsive Table */
@media screen and (max-width: 768px) {

    .admin-dashboard-wrap table,
    .admin-dashboard-wrap thead,
    .admin-dashboard-wrap tbody,
    .admin-dashboard-wrap th,
    .admin-dashboard-wrap td,
    .admin-dashboard-wrap tr {
        display: block;
    }

    .admin-dashboard-wrap th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .admin-dashboard-wrap tr {
        border: 1px solid #ccc;
        margin-bottom: .625em;
    }

    .admin-dashboard-wrap td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    .admin-dashboard-wrap td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}