body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    padding: 0;
    margin: 0;
}


.alpi-cms-content-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header-wrap {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

.header-wrap h1 {
    margin: 0;
    color: #333;
    font-family: Arial, sans-serif;
}

.header-wrap .header-menu-container {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.header-wrap .header-menu-container>button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.header-wrap .header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-wrap .header-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header-wrap .header-dropdown-content a:hover {
    background-color: #ddd;
}

.header-wrap .header-menu-container:hover .header-dropdown-content {
    display: block;
}