.header-wrap{
    padding-bottom: 20px;
}

.header-wrap .header-menu-container {
    position: relative;
    display: inline-block;
}

.header-wrap .header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-wrap .header-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header-wrap .header-dropdown-content a:hover {
    background-color: #ddd;
}

.header-wrap .header-menu-container:hover .header-dropdown-content {
    display: block;
}